#header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#logo {
  width: 200px;
  height: 200px;
  background: url('../../assets/holberton-logo.jpg') no-repeat center;
  background-size: 200px 200px;
}

#header h1 {
  margin: 0;
}